<body>
    <div class="img">
        
        <button type="button" class="btn btn-success" (click)="resetForm()">delete</button>
        <button type="button" class="btn btn-success">modify</button>
        
    </div>
    <div class="img2"></div>
    <div class="form">
        <h2>Required Information</h2>
        <form [formGroup]="profileForm" (submit)="updateProfile()">
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Name</label>
                <div class="col-sm-7">
                  <input type="text"  class="form-control" formControlName="name" id="staticEmail" required />
                </div>
            </div>
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-5 col-form-label">First Name</label>
                <div class="col-sm-7">
                  <input type="text"  class="form-control" formControlName="firstname" id="staticEmail" required />
                </div>
            </div>
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Date of birth :</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control" formControlName="birthday" id="staticEmail" required [value]="profileForm.get('birthday')!.value"/>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-6 col-form-label">Gender :</label>
                <div class="col-sm-3 form-check">
                    <input class="form-check-input" type="radio" formControlName="gender" value="male" required/>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Man
                    </label>
                    
                </div>
                <div class="col-sm-3 form-check">
                    <input class="form-check-input" type="radio" formControlName="gender" value="female" required>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Women
                    </label>
                </div>
                  
            </div>
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-5 col-form-label">City :</label>
                <div class="col-sm-7">
                  <input type="text"  class="form-control" formControlName="city" id="staticEmail" required />
                </div>
            </div>
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Phone number :</label>
                <div class="col-sm-7">
                  <input type="tel"  class="form-control" formControlName="phone" id="staticEmail" required />
                </div>
            </div>
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-5 col-form-label">Role:</label>
                <div class="col-sm-7">
                  <input type="text"  class="form-control" formControlName="role" id="staticEmail" required />
                </div>
            </div>
            <div class="mb-4 row">
              <label for="start" class="col-sm-5 col-form-label">Availability Start:</label>
              <div class="col-sm-7">
                <input type="time" class="form-control" formControlName="from" required />
              </div>
            </div>
            
            <div class="mb-4 row">
              <label for="end" class="col-sm-5 col-form-label">Availability End:</label>
              <div class="col-sm-7">
                <input type="time" class="form-control" formControlName="to"  required />
              </div>
            </div>
            
            <div class="mb-4 row">
                <label for="staticEmail" class="col-sm-5 col-form-label" >picture :</label>
                <div class="col-sm-7">
                  <input type="file" id="file" (change)="onFileSelected($event)"/>
                  <label for="file" id="pic">Upload File</label>
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Confirm</button>
        </form>
    </div>
</body>
