<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <img src="../../assets/images/Home.png" alt=""/>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" id="nav-list">
                    <li class="nav-item t"><button  #button type="button"  class="btn btn-light" placement="bottom" [ngbPopover]="managecard">manage card</button></li> 
                    <ng-template #managecard class="contentpop">
                        <a routerLink="/addclientcard">
                            <button class="btn" *ngIf="data.needs.length === 0" >
                                <i class="bi bi-plus-square" ></i>add Client Card
                                
                            </button>
                            <button class="btn" *ngIf="data.needs.length > 0">
                                <i class="bi bi-pencil-square" ></i> edit Client Card
                            </button>
                        </a>
                        <a routerLink='/addfreelancercard'>
                            <button class="btn" *ngIf="!data.role" >
                                <i class="bi bi-plus-square" ></i> add Freelancer Card
                            </button>
                            <button class="btn" *ngIf="data.role" >
                                <i class="bi bi-pencil-square" ></i> edit Freelancer Card
                            </button>
                        </a>
                        
                      </ng-template>
                    <li class="nav-item t">
                        <input class="form-control" list="datalistOptions" [(ngModel)]="searchTerm" id="exampleDataList" placeholder="Type to search...">
                    </li>
                    <li class="nav-item opt">
                        <select class="form-select form-select-sm" [(ngModel)]="selectedRole" aria-label="Large select example">
                            <option value="all" selected >All</option>
                            <option value="employee">Employee</option>
                            <option value="client">Client</option>
                          </select>
                    </li>
                    <li>
                      <button class="btn btn-outline-primary mb-2 me-2" (click)="openXl(content)">Extra large modal</button>
                  </li>
                    <li>
                      <button type="button" class="btn btn-outline-success" (click)="search()">Search</button>
                    </li>
                </ul>
                <div class="forpopover">
                    <button #button type="button" class="btn" placement="bottom" [ngbPopover]="popoverContent" >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    
                    <!-- Popover Content Template -->
                    <ng-template #popoverContent class="contentpop">
                      <button class="btn" routerLink="profile">Profile</button>
                      <button class="btn" routerLink="setting">Setting</button>
                      <button class="btn" (click)="logout()">logout</button>
                    </ng-template>
                </div>
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Modal title</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                      <p>Choose from the following options:</p>
                  
                      <!-- Radio buttons for attribute of all or -->
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="options" id="roleOption1" [(ngModel)]="filterType" value="role">
                        <label class="form-check-label" for="roleOption1">Role</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="options" id="roleOption2" [(ngModel)]="filterType" value="name">
                        <label class="form-check-label" for="roleOption2">Name</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="options" id="roleOption2" [(ngModel)]="filterType" value="city">
                        <label class="form-check-label" for="roleOption2">City</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="options" id="roleOption2" [(ngModel)]="filterType" value="from">
                        <label class="form-check-label" for="roleOption2">availability from</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="options" id="roleOption2" [(ngModel)]="filterType" value="rate">
                        <label class="form-check-label" for="roleOption2">rate</label>
                      </div>
                      
                      <!-- Radio buttons for time -->
                      <!-- Add similar code for time -->
                  
                      <!-- Radio buttons for name -->
                      <!-- Add similar code for name -->
                  
                      <!-- Radio buttons for city -->
                      <!-- Add similar code for city -->
                  
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">OK</button>
                    </div>
                  </ng-template>
                  
                  
            </div>
            
            
        </nav>
        
    </header>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
     
    
      
</body>
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
