<body>
  <div class="login-container">
      <h1>Log in</h1>
      <form [formGroup]="signinForm" (submit)="signIn()">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
      
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
      
        <p>Don't have an account? <a [routerLink]="['/signup']">Sign up</a></p>
        
        <button type="submit" [disabled]="signinForm.invalid">Login</button>
      </form>      
  </div>
<script>
      const togglePassword = document.querySelector("#togglePassword");
      const password = document.querySelector("#password");

      togglePassword.addEventListener("click", function () {
          // toggle the type attribute
          const type = password.getAttribute("type") === "password" ? "text" : "password";
          password.setAttribute("type", type);
          
          // toggle the icon
          this.classList.toggle("bi-eye");
      });

      // prevent form submit
      const form = document.querySelector("form");
      form.addEventListener('submit', function (e) {
          e.preventDefault();
      });
  </script>
</body>