<body>
    <div class="container-fluid" >
        <form class="mx-auto">
            <h4 class="text-center">Login</h4>
            <div class="mb-3 mt-5">
              <label for="exampleInputEmail1" class="form-label"><i class="bi bi-envelope-at"></i> Email address  </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"><i class="bi bi-key-fill"></i> Password:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              <div id="emailHelper" class="form-text">forgot password?</div>
            </div>
            <button type="submit" class="btn btn-primary mt-4"> <i class="bi bi-box-arrow-in-right"></i>Login</button>
          </form>
    </div>
</body>

