<div class="container-fluid card-container">
    <div class="header">
        <h6>student card </h6>
        <img src="../../../assets/images/Dabber_Rassek.png" alt="" class="logo">
        <div class="overlay"></div>
       
    </div>
    
    <div class="image-container">
        <img src="../../../assets/images/Rectangle 60.png" alt="" class="prof">
        <br>
        <ng-template #t let-fill="fill">
            <i class="bi-star-fill">
                <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
            </i>
        </ng-template>
        <ngb-rating [starTemplate]="t" [(rate)]="currentRate" [max]="5" [readonly]="true" class="etoils">
        </ngb-rating>
        
    </div>
    <div class="para-container">
        <p>i am + “name”+ +”firstname”+.i am +”age”+.I am available to provide my services +”service” at the following times + ”availibility” .for more information and reservation call me on +”number”.</p>
    </div>
    
</div>
