body {
  font-family: Arial, sans-serif;
  background-color:#E4F4FD;
  width: 100%;
  height: 100%;
}
header{
  overflow: hidden;
}
nav {
  position: fixed;
  width: 100%;
  height: 8%;
  background-color: #A1B9A3;
  justify-content: space-between;
   /* Align the button to the right */
 /* Optional padding for the nav */
}

button {
  background-color: #3E8243; /* Button background color */
  border: none;
  margin-right: 0px;
  margin-left: auto;
  position: relative;
  margin-top: 3px;

}
a{
  margin-right: 0%;
  margin-left: auto;
}
button:hover {
  background-color: #E4F4FD; /* Button background color on hover */
}
.connect-link {
  height: 30px;
  color:#E4F4FD; /* Change the color of the text in the button */
}

.connect-link:hover {
  color:#3E8243; /* Change the color on hover */
}
p {
  /* definitionforwebsite */

position: relative;
width: 1000px;
height: 320px;
left: 190px;
top: 144px;

font-family: 'Aksara Bali Galang';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 50px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #000000;


}
h2 {
position: relative;
width: 1000px;
height: 30px;
left: 220px;
top: 75px;
text-align: center;
font-family: 'Concert One';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 300px;
/* or 286% */
display: flex;
align-items: center;
text-align: center;

color: #3E8243;

}

/* ... Vos styles CSS existants ... */
.image0 {
  z-index: 999;
  width: 60px; /* Ajustez la taille de l'image 1 */
  height:55px;
  position: relative;
   margin-right: 90%;
}


.image1 {
  max-width: 55%; /* Ajustez la taille de l'image 1 */
  height: 400px;
  transform: rotate(0deg); /* Rotation de l'image 1 */
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.image2 {
  max-width:25%;
  height: auto;
  position: absolute; 
  top: 0%;
  right: 0%;
  clip:rect(57px, 500px, 700px, 0px) ;
}

.image3 {
  max-width: 25%; /* Ajustez la taille de l'image 3 */
  height: auto;
  transform: rotate(0deg); /* Rotation de l'image 3 */
  position: absolute; 
  bottom: 0%;
}

/* ... Autres styles pour la responsivité (optionnel) ... */

