<body>
  <header>
    <nav>
      <img src="../../assets/images/logoapp.png"alt="logoapp.png" class="image0">
      <a href="#" class="connect-link"><button> Connect </button></a>
    </nav>
  </header>
    <div class="content">
      <h2>AUTONOMY    COOPERATION  EARNINGS</h2>
    <p>Welcome to DABARRASSEK .Our platform is designed to empower freelancers and individuals seeking work opportunities to connect effortlessly with clients in need of their services
      .Join our community today to experience the freedom to work on your own terms, collaborate effectively, and secure the earnings you deserve. 
      Together, let's embark on a journey where independence meets collaboration,
       and where every effort is duly rewarded. Start your journey towards empowerment with us.</p>
  
  
       
        
        <img src="../../assets/images/girlpicture.png"    alt="girlpicture.png" class="image1">
        <img src="../../assets/images/moneypicture1.png"  alt="moneypicture1.png" class="image2">
        <img src="../../assets/images/moneypicture2.png" alt="moneypicture2.png" class="image3">
    </div>
  
    
    
</body>
