<section class="Clients">
    <h3>Clients</h3>
      <div class="container-fluid">
          <div class="wrapper">
            <ul class="carousel" [style.transform]="'translateX(' + translateX + 'px)'">
              <li class="container-fluid card-container" *ngFor="let user of users">            
                  <div class="header">
                      <h6>Client</h6>
                      <img src="../../../assets/images/Dabber_Rassek.png" alt="" class="logo">
                      <div class="overlay"></div>
                    </div>
                  
                    <div class="image-container">
                      <img [src]="user.picture ||'../../../assets/images/default-profile.png'" alt="" class="prof">
                      <br>
                      <ng-template #t let-fill="fill">
                        <i class="bi-star-fill">
                          <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
                        </i>
                      </ng-template>
                  
                      <ngb-rating
                        [(rate)]="user.rate"
                        [starTemplate]="t"
                        [readonly]="true"
                        [max]="5"
                      ></ngb-rating>
                      <br>
                      <i class="bi bi-person-fill"></i> {{user.numRaters}}
                      <br>
                    </div>
                  
                    <div class="para-container">
                      <p>
                        I am {{ user.name }} {{ user.firstname }}. I am {{ calculateAge(user.birthday) }} years old.
                        I search for 
                        <ng-container *ngIf="user.needs && user.needs.length > 0; else noNeeds">
                          <span *ngFor="let need of user.needs; let last = last">
                            {{ need }}{{ last ? '' : ', ' }}
                          </span>.
                        </ng-container>
                        <ng-template #noNeeds>N/A.</ng-template>
                        For more information and reservation, call me on {{ user.phone|| 'N/A' }}.
                      </p>
                    </div>
                  </li>
            </ul>
            <div class="button-area">
              <button type="button" id="flash" class="prev" (click)="prevSlide()" *ngIf="currentSlide>0"><i class="bi bi-chevron-left"></i></button>
              <button type="button" id="flash" class="next" (click)="nextSlide()" *ngIf="users.length-currentSlide>3"><i class="bi bi-chevron-right"></i></button>
            </div>
              
          </div>
      </div>
  </section>
