.img{
    background-image:url('src/assets/images/addcard.png'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
    
    
}
.img button{
   margin-top: 102%;
   
}
.img2{
    position: relative;
    background-image:url('src/assets/images/Polygon 2.png'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:4%;
    height: 100%;
    float: left;
}
.img button:first-child{
 margin-left: 25%;
}
.img button:not(:last-child) 
{ margin-right: 50px; } 
.form{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}
.form h2{
    margin-left: 200px;
    color: #3E8243;
    font-family: Comfortaa;
    
}
.form-control{
    background-color: #E1F3FF;
}
.form button{
    float: right;
    width: 30%;
}
Input#file {
    Display: none;
}
Label#pic {
    Height:  40px;
    Width: 150px;
    Border-radius: 60px;
    Border: 1px dashed #999;
    text-align: center;
}
Label#pic:hover {
      Color: #de0611;
      Border: 1px dashed #de0611;
}